{%- block checkbox_widget -%}
    <div class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{% if id is defined %}{{ id }}{% endif %}" class="control-label  optional">
            {% if label is defined %}{{ label }}{% endif %}
        </label>
    </div>
{%- endblock checkbox_widget -%}


{%- block choice_widget_expanded -%}
    <label for="{% if id is defined %}{{ id }}{% endif %}" class="control-label {% if required %} required {% endif %}  optional">
        {% if label is defined %}{{ label }}{% endif %}
    </label>
    <br>
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type != '' ? (multiple ? 'checkbox' : 'radio') ~ '-' ~ widget_type : ''))}) %}
        {% if expanded %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ horizontal_input_wrapper_class}) %}
        {% endif %}
        {% if widget_type == 'inline-btn' %}
            <div class="btn-group" data-toggle="buttons">
        {% endif %}
        {% for child in form %}
            {% if widget_type not in ['inline', 'inline-btn'] %}
                <div class="{{ multiple ? 'checkbox' : 'radio' }}"
                {%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"{% endif %}>
            {% endif %}
            {% if widget_type == 'inline-btn' %}
                {% set label_attr = label_attr|default({})|merge({'class': 'btn ' ~ label_attr.class|default('')}) %}
            {% endif %}
            {% if child.vars.checked and widget_type == 'inline-btn' %}
                {% set label_attr_copy = label_attr|default({})|merge({'class': 'active ' ~ label_attr.class|default('')}) %}
            {% else %}
                {% set label_attr_copy = label_attr|default({}) %}
            {% endif %}

            {{ form_widget(child, {'horizontal_label_class': horizontal_label_class, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class, 'attr': {'class': attr.widget_class|default('') }}) }}

            <label style="padding-left: 20px" for="{{ child.vars.id }}" {% for attrname, attrvalue in label_attr_copy %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if widget_type == 'inline-btn' or widget_checkbox_label == 'widget' %}
                {{ child.vars.label|trans({}, translation_domain)|raw }}
            {% else %}
                {{ child.vars.label|trans({}, translation_domain) }}
            {% endif %}
            </label>
            {% if widget_type not in ['inline', 'inline-btn'] %}
                </div>
            {% endif %}
        {% endfor %}
        {% if widget_type == 'inline-btn' %}
            </div>
        {% endif %}
    {% endspaceless %}
{%- endblock choice_widget_expanded -%}