{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Acessos Realizados' %}

{% block body %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Listagem de Acessos {{ accesses.totalItemCount | label_count_element }} </h4>
        </div>
        <div class="panel-body">
            <br>
            <form class="form-inline" method="get" action="" id="form_filter">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div align="right">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            {{ form_widget(form.isToday) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.environment) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.user) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_widget(form.startDate) }}
                                            {{ form_widget(form.endDate) }}
                                        </div>

                                        <input type="hidden" value="" name="dest" id="dest"/>
                                        <button type="submit" class="btn btn-primary btn-sm waves-effect"><i
                                                    class="fa fa-search" aria-hidden="true"></i> Buscar
                                        </button>
                                        <a href="{{ path('access_index') }}" class="btn btn-floating btn-warning title" title="limpar">
                                            <i class="fa fa-eraser"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" id="print" data-url="{{ path('access_pdf') }}"
                            class="option_report btn btn-default btn-sm waves-effect" data-value="1">
                        <i class="fa fa-print" aria-hidden="true"></i> Imprimir
                    </button>
                    <button type="button" id="download" data-url="{{ path('access_pdf') }}"  data-value="0"
                            class="option_report btn btn-default btn-sm waves-effect">
                        <i class="fa fa-download" aria-hidden="true"></i> Download PDF
                    </button>
                </div>
            </div>

            {% include 'SistemaAcessoBaseBundle::Layout/flashMessages.html.twig' %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Ambiente</th>
                                <th>Entrada em</th>
                                <th>Saída em</th>
                                <th>Usuário</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for access in accesses %}
                                <tr>
                                    <td>
                                        {% if access.isOut %}
                                            <span class="label label-success">
<i class="fa fa-check" aria-hidden="true"></i> Usuário saiu</span>
                                        {% else %}
                                            <span class="label label-warning"><i class="fa fa-clock-o"
                                                                                 aria-hidden="true"></i> Usuário no ambiente</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ access.environment.name }}</td>
                                    <td>
                                        {{ access.entryDate | date('d/m/Y H:i') }}
                                    </td>
                                    <td>
                                        {% if access.outDate %}
                                            {{ access.outDate | date('d/m/Y H:i') }}
                                        {% endif %}
                                    </td>
                                    <td>{{ access.user.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="navigation text-right">
                {{ knp_pagination_render(accesses) }}
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#print").click(function (e) {
            e.preventDefault();
            $("#form_filter")
                .attr('target', '_blank')
                .attr('action', $(this).attr('data-url'))
                .submit()
                .attr('action', '')
                .removeAttr('target')
            ;
        });
    </script>
    <script type="text/javascript">
        $(".option_report").click(function (e) {
            e.preventDefault();
            $("#dest").val($(this).attr('data-value'));
            if($(this).attr('data-value') == '1'){
                $("#form_filter").attr('target', '_blank');
            }
            $("#form_filter")
                .attr('action', $(this).attr('data-url'))
                .submit()
                .attr('action', '')
                .removeAttr('target')
            ;
        });
    </script>
{% endblock %}