{{ form_start(form, { attr: { novalidate: 'novalidate', class: form_css|default('') } }) }}

<div class="row">
    <div class="col-sm-3">
        <div class="form-group {% if form.name.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group {% if form.course.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.course) }}
            {{ form_widget(form.course) }}
            {{ form_errors(form.course) }}
        </div>
    </div>
</div>

{{ form_widget(form._token) }}

<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="form-actions">
            <a href="{{ path('discipline_index') }}" class="btn btn-default waves-effect btn-fw">Cancelar</a>

            <button type="submit" class="btn {{ button_css|default('btn-primary btn-fw ') }} waves-effect">
                {{ button_label|default('Salvar') }}
            </button>
        </div>
    </div>
</div>

