{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Semestres' %}

{% block body %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Listagem de semestres {{ semesters.totalItemCount | label_count_element }}</h4>
            {% if app.user.granted('ROLE_ADMIN') %}
                <a href="{{ path('semester_new') }}" class="btn btn-success mb_sm btn-sm pull-right">Novo</a>
            {% endif %}
        </div>
        <div class="panel-body">
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                        <form class="form-inline" method="get" action="">
                            <div class="row">
                                <div align="right">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            {{ form_widget(form.active) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.year) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.semester) }}
                                        </div>
                                        <button type="submit" class="btn btn-primary waves-effect btn-sm"><i
                                                    class="fa fa-search" aria-hidden="true"></i> Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% include 'SistemaAcessoBaseBundle::Layout/flashMessages.html.twig' %}

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Ano</th>
                        <th>Semestre</th>
                        <th>Data Início</th>
                        <th>Data Término</th>
                        <th>Atual?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for semester in semesters %}
                        <tr>
                            <td>{{ semester.active|status_label }}</td>
                            <td>{{ semester.year }}</td>
                            <td>{{ semester.semester }}º semestre</td>
                            <td>{{ semester.start | date('d/m/Y') }}</td>
                            <td>{{ semester.end | date('d/m/Y') }}</td>
                            <td>
                                {% if semester.current %}
                                    <i class="fa fa-check fa-lg text-success" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if app.user.granted('ROLE_ADMIN') %}
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('semester_edit', { 'id': semester.id}) }}"
                                           class="btn btn-default"
                                           title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>
                                    {% if semester.active %}
                                        <div class="btn-group btn-group-xs">
                                            <a href="{{ path('semester_delete', { 'id': semester.id}) }}"
                                               class="btn btn-default remove-this"
                                               title="Excluir">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation text-right">
                {{ knp_pagination_render(semesters) }}
            </div>

        </div>
    </div>

{% endblock %}