{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Horários' %}

{% block body %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Horários</h4>
            {% if app.user.granted('ROLE_ADMIN') %}
                <a href="{{ path('schedule_new') }}" class="btn btn-success mb_sm btn-sm pull-right">Novo</a>
            {% endif %}
        </div>
        <div class="panel-body">
            {% for environment in environments %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            <h3> {{ environment.name }}
                                <small>horários reservados</small>
                            </h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center"><strong>Segunda-Feira</strong></th>
                                    <th class="text-center"><strong>Terça-Feira</strong></th>
                                    <th class="text-center"><strong>Quarta-Feira</strong></th>
                                    <th class="text-center"><strong>Quinta-Feira</strong></th>
                                    <th class="text-center"><strong>Sexta-Feira</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    {% set scheduleEnvironment = timeGrid[environment.id] %}
                                    {% for i in 2..6 %}
                                        {% set schedules = scheduleEnvironment[i] %}

                                        <td>
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Horário</th>
                                                    <th>Atividade</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for schedule in schedules %}
                                                    <tr>
                                                        <td>
                                                            {{ schedule.startTime | date('H:i') }}
                                                            -
                                                            {{ schedule.endTime | date('H:i') }}
                                                        </td>
                                                        <td>
                                                            <abbr class="title" title="{{ schedule.user.name }}">
                                                                {{ schedule.discipline.sigla }}
                                                            </abbr>

                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                {% if schedules|length == 0 %}
                                                    <tr>
                                                        <td colspan="2" class="text-center">
                                                            <span class="label label-sm label-warning">Não há horários agendados!</span>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </td>

                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {#<div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h3> Laboratário 01
                            <small>horários reservados</small>
                        </h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center"><strong>Segunda-Feira</strong></th>
                                <th class="text-center"><strong>Terça-Feira</strong></th>
                                <th class="text-center"><strong>Quarta-Feira</strong></th>
                                <th class="text-center"><strong>Quinta-Feira</strong></th>
                                <th class="text-center"><strong>Sexta-Feira</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Horário</th>
                                            <th>Atividade</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                07:30 - 09:00
                                            </td>
                                            <td>
                                                PE
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Horário</th>
                                            <th>Atividade</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                07:30 - 09:00
                                            </td>
                                            <td>
                                                BD II
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Horário</th>
                                            <th>Atividade</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                07:30 - 09:00
                                            </td>
                                            <td>
                                                BD I
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Horário</th>
                                            <th>Atividade</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                07:30 - 09:00
                                            </td>
                                            <td>
                                                Aula: POO
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Horário</th>
                                            <th>Atividade</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                07:30 - 09:00
                                            </td>
                                            <td>
                                                Aula: POO
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>#}
        </div>
    </div>

{% endblock %}