<!-- SIDEBAR
================================================== -->
<div class="sidebar">

    <!-- Close button (mobile devices) -->
    <div class="sidebar__close">
        <img src="assets/img/close.svg" alt="Close sidebar">
    </div>

    <!-- Sidebar user -->
    <div class="sidebar__user">

        <!-- Sidebar user avatar -->
        <div class="sidebar-user__avatar">
            <img src="{{ asset('bundles/sistemaacessobase/imagens/user/avatar.png') }}" alt="...">
        </div>

        <!-- Sidebar user info -->
        <a class="sidebar-user__info">
            <h4>
                {% if app.user is defined %}
                    {{ app.user.name }}
                {% else %}
                    Anônimo
                {% endif %}
            </h4>
            <p>
                {% if app.user is defined %}
                    {% if app.user.granted('ROLE_ADMIN') %}
                        Administrador
                    {% else %}
                        Professor
                    {% endif %}{% endif %}
                <i class="fa fa-caret-down"></i></p>
        </a>

    </div>

    <!-- Sidebar user nav -->
    <nav class="sidebar-user__nav">
        <ul class="sidebar__nav">
            <li>
                <a href="profile.html"><i class="fa fa-user"></i> Perfil</a>
            </li>
            <li>
                <a href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="fa fa-edit"></i> Edit perfil</a>
            </li>
            <li>
                <a href="inbox.html"><i class="fa fa-envelope-o"></i> Mensagens</a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Sair</a>
            </li>
        </ul>
    </nav>

    <!-- Sidebar nav -->
    <nav>
        <ul class="sidebar__nav">
            <li class="sidebar-nav__heading">Dashboard</li>
            <li>
                <a href="{{ path('default_index') }}"><i class="fa fa-th-large"></i> Dashboard</a>
            </li>
        </ul>

        <ul class="sidebar__nav">
            <li class="sidebar-nav__heading">Gerenciamento</li>
            <li>
                <a href="#">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    Semestres
                </a>
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Professores
                </a>
                <a href="#">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Cursos
                </a>
                <a href="#">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    Disciplinas
                </a>
            </li>
        </ul>

        <ul class="sidebar__nav">
            <li class="sidebar-nav__heading">Acessos</li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Horários
                </a>
                <a href="#">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Acessos Realizados
                </a>
            </li>
        </ul>

        <ul class="sidebar__nav">
            <li class="sidebar-nav__heading">Controle de Acesso</li>
            <li>
                <a href="{{ path('user_index') }}">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Usuários
                </a>
            </li>
        </ul>
    </nav>

</div>

<!-- MAIN CONTENT
================================================== -->
<div class="container-fluid">

    <!-- Navbar -->
    <div class="row">
        <div class="col-xs-12">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbar_main">


                        <a href="#" class="btn btn-default navbar-btn navbar-left" id="sidebar__toggle">
                            <i class="fa fa-bars"></i>
                        </a>

                        <div class="h3 navbar-left" style="color: #4682B4; margin-left: 2%">
                            {% if page_title is defined %} {{ page_title }} {% endif %}
                        </div>

                        <a  href="{{ path('fos_user_security_logout') }}" class="btn btn-primary navbar-btn navbar-right">
                            Sair
                        </a>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="navbar-notification"></span>
                                    <span class="hidden-xs">Mensagens</span> <i
                                            class="fa fa-envelope visible-xs-inline-block"></i>
                                </a>
                                <div class="dropdown-menu navbar-messages">
                                    <a href="#" class="navbar-messages__item">
                                        <div class="navbar-messages__avatar">
                                            <img src="assets/img/user_2.jpg" alt="...">
                                        </div>
                                        <div class="navbar-messages__body">
                                            <h5 class="navbar-messages__sender">
                                                Jane Roe
                                                <small>2 hours ago</small>
                                            </h5>
                                            <p class="navbar-messages__content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="navbar-messages__item">
                                        <div class="navbar-messages__avatar">
                                            <img src="assets/img/user_3.jpg" alt="...">
                                        </div>
                                        <div class="navbar-messages__body">
                                            <h5 class="navbar-messages__sender">
                                                John Doe
                                                <small>1 day ago</small>
                                            </h5>
                                            <p class="navbar-messages__content">
                                                Reprehenderit consequatur minima non nostrum aliquid, excepturi...
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="navbar-messages__item">
                                        <div class="navbar-messages__avatar">
                                            <img src="assets/img/user_4.jpg" alt="...">
                                        </div>
                                        <div class="navbar-messages__body">
                                            <h5 class="navbar-messages__sender">
                                                Mary Major
                                                <small>1 day ago</small>
                                            </h5>
                                            <p class="navbar-messages__content">
                                                Ipsa quaerat labore blanditiis consequuntur, rerum minima, aut...
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#" class="navbar-messages__view-all">
                                        View All
                                    </a>
                                </div>
                            </li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div>
    </div> <!-- / .row -->


    <!-- Footer
    <footer class="footer">
        <div class="row">
            <div class="col-xs-12">

                &copy; Company 2016. All rights reserved.
                <a href="#">Terms of Service</a> |
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>-->

</div> <!-- / .container-fluid -->



