<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <title>Sistem Acesso {% if page_title is defined %} | {{ page_title }} {% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" href="{{ asset('bundles/sistemaacessobase/libs/font-awesome/css/font-awesome.min.css') }}"
          type="text/css"/>

    <link rel="stylesheet"
          href="{{ asset('bundles/sistemaacessobase/libs/perfect-scrollbar/css/perfect-scrollbar.min.css') }}"
          type="text/css"/>

    <link rel="stylesheet" href="{{ asset('bundles/sistemaacessobase/libs/template/css/styles.css') }}"
          type="text/css"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,500' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="wrapper" class="wrapper">
    {% include 'SistemaAcessoBaseBundle::Layout/default.html.twig' %}


    {% block body %}

    {% endblock %}


    <!-- Footer -->
        <footer class="footer">
            <div class="row">
                <div class="col-xs-12">

                    &copy; Company 2016. All rights reserved.
                    <a href="#">Terms of Service</a> |
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </footer>
</div>
<!-- JS Global -->

<script src="{{ asset('bundles/sistemaacessobase/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/sistemaacessobase/libs/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/sistemaacessobase/libs/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/sistemaacessobase/libs/template/css/custom.js') }}"></script>
<script>
    var baseUrl = window.location.origin;
</script>

{% block javascripts %}{% endblock %}

</body>
</html>
