<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <title>Sistem Acesso {% if page_title is defined %} | {{ page_title }} {% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" href="{{ asset('bundles/sistemaacessobase/libs/font-awesome/css/font-awesome.min.css') }}"
          type="text/css"/>

    <link rel="stylesheet"
          href="{{ asset('bundles/sistemaacessobase/libs/perfect-scrollbar/css/perfect-scrollbar.min.css') }}"
          type="text/css"/>

    <link rel="stylesheet" href="{{ asset('bundles/sistemaacessobase/libs/template/css/styles.css') }}"
          type="text/css"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,500' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/bootstrap/css/bootstrap.min.css') }}"
          type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/metisMenu/metisMenu.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/template/css/sb-admin-2.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/morrisjs/morris.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/font-awesome/css/font-awesome.min.css') }}"
          type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">
    {% include 'SistemaAcessoBaseBundle::Layout/default.html.twig' %}

    {% block body %}

    {% endblock %}
</div>
<!-- JS Global -->

<script src="{{ asset('bundles/sistemaacessobase/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/sistemaacessobase/libs/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/sistemaacessobase/libs/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/sistemaacessobase/libs/template/css/custom.js') }}"></script>
<script>
    var baseUrl = window.location.origin;
</script>

{% block javascripts %}{% endblock %}

</body>
</html>
