{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Dados de acesso' %}
{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'SistemaAcessoBaseBundle::Layout/flashMessages.html.twig' %}

            {{ form_start(form, { attr: { novalidate: 'novalidate', class: form_css|default('') } }) }}
            {{ form_widget(form._token) }}
            {{ include('SistemaAcessoUserBundle::User/_formAccessData.html.twig') }}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-actions">
                        <button type="submit" class="btn {{ button_css|default('btn-primary btn-fw ') }} waves-effect">
                            {{ button_label|default('Salvar') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}