{% extends 'SistemaAcessoBaseBundle::Layout/layout.html.twig' %}
{% set page_title = 'Usuários' %}

{% block body %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Listagem de usuários <label  class="badge bg-info" style="color: white;">{{ total }}</label></h4>
            {% if app.user.granted('ROLE_ADMIN') %}
                <a href="{{ path('user_new') }}" class="btn btn-success mb_sm btn-sm pull-right">Novo</a>
            {% endif %}
        </div>
        <div class="panel-body">
            <div id="datatables__example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div id="datatables__example_filter" class="dataTables_filter">
                    <label>Pesquisar:
                        <input type="search" class="form-control input-sm" placeholder=""
                               aria-controls="datatables__example">
                    </label>
                </div>
            </div>

            {% include 'SistemaAcessoBaseBundle::Layout/flashMessages.html.twig' %}


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Username</th>
                    <th>Nome Completo</th>
                    <th>E-mail</th>
                    <th>Telefones</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.active|status_label }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {{ user.phone }} | {{ user.cellphone }}
                        </td>
                        <td>
                            {% if app.user.granted('ROLE_ADMIN') %}
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ path('user_edit', { 'id': user.id}) }}" class="btn btn-default"
                                       title="Editar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-right">
                {{ knp_pagination_render(users) }}
            </div>

        </div>
    </div>

{% endblock %}