{% trans_default_domain 'FOSUserBundle' %}


<div class="row">
    <div class="col-xs-12">
        <div style="padding: 20px;">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            <h2 class="text-center">Informe sua nova senha</h2>
            <div class="col-xs-12">
                <div class="form-group {% if form.plainPassword.first.vars.errors|length %} has-error {% endif %}">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group {% if form.plainPassword.second.vars.errors|length %} has-error {% endif %}">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>

            <br>
            <div class="col-xs-12">
                <div>
                    <input type="submit" value="Alterar senha" class="btn btn-success btn-block"/>
                </div>
            </div>

            <div class="col-xs-12">
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-link pull-left btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Autenticar-se</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
</div>

