{% extends '@SistemaAcessoBase/Layout/layout.html.twig' %}
{% set page_title = 'Dashboard' %}

{% block body %}
    {#<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Olá {{ app.user.name }}!</h4>
                <small>
                    {% if app.user.granted('ROLE_ADMIN') %}
                        Você é um administrador
                    {% endif %}
                </small>
            </div>
        </div>
    </div>#}

    <div class="row" style="font-weight: bold" id="count-item" data-url="{{ path('default_get_data') }}">
        <div class="col-xs-6 col-sm-3">
            <div class="dashboard-stats__item blue">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h3 class="dashboard-stats__title">
                    <span id="count-teachers">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </span>
                    <small>Professores</small>
                </h3>
            </div>

        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="dashboard-stats__item amber">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3 class="dashboard-stats__title">
                    <span id="count-users">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </span>
                    <small>Usuários</small>
                </h3>
            </div>

        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="dashboard-stats__item green">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h3 class="dashboard-stats__title">
                    <span id="count-environments">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </span>
                    <small>Ambientes</small>
                </h3>
            </div>

        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="dashboard-stats__item indigo">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h3 class="dashboard-stats__title">
                    <span id="count-access">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </span>
                    <small>Acessos</small>
                </h3>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Ambientes
                    </h3>
                    {% if app.user.granted('ROLE_ADMIN') %}
                        <div class="pull-right" align="right">
                            <a href="{{ path('environment_new') }}" class="btn btn-sm btn-success waves-effect pull-right"> Novo </a>
                        </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="well" id="loading-environment">
                        <i class="fa fa-spinner fa-spin fa-fw text-danger"></i>
                        <span class="sr-only">Loading...</span> Carregando...
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover dashboard__users">
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Nome</th>
                            </tr>
                            </thead>
                            <tbody id="list-environment">

                            </tbody>
                        </table> <!-- / .dashboard__users -->
                    </div>
                </div>
                <div class="panel-footer">
                    <a id="link_get_envirionment" data-url="{{ path('environment_get_list') }}"
                       class="btn btn-primary btn-sm"> <i
                                class="fa fa-refresh" aria-hidden="true"></i> Atualizar </a>
                    <a href="{{ path('environment_index') }}" class="btn btn-link btn-sm"><i class="fa fa-cogs"
                                                                                             aria-hidden="true"></i>
                        Gerenciar</a>
                </div>
            </div> <!-- / .panel -->
        </div>

        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Últimos Acessos
                        <small>10(dez) últimos</small>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="well" id="loading-access">
                        <i class="fa fa-spinner fa-spin fa-fw text-danger"></i>
                        <span class="sr-only">Loading...</span> Carregando...
                    </div>
                    <div class="dashboard__feed" id="list-last-access">

                    </div>
                </div>
                <div class="panel-footer">
                    <a id="link_access_load" data-url="{{ path('access_last') }}" class="btn btn-primary btn-sm"> <i
                                class="fa fa-refresh" aria-hidden="true"></i> Atualizar </a>
                    <a href="{{ path('access_index') }}" class="btn btn-link btn-sm"> <i class="fa fa-eye"
                                                                                         aria-hidden="true"></i> Ver
                        todos</a>
                </div>
            </div>
        </div>

    </div>



    {% verbatim %}
       <script type="text/x-tmpl" id="list-last-access-tmpl">
            {% if(o.accesses != undefined) { %}
                {% for (var i = 0; i < o.accesses.length; i++) { %}
                    <div class="dashboard-feed__item">
                        {% if(o.accesses[i].isOut) { %}
                                <span class="circle label label-success pull-left">
                                  <i class="fa fa-check"></i>
                                </span>
                            {% } else { %}
                                <span class="circle label label-warning pull-left">
                                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </span>
                            {% } %}

                        <div class="col-xs-4">{%=o.accesses[i].user.name%}</div>
                        <div class="col-xs-4">{%=o.accesses[i].environment.name%}</div>
                        <div class="col-xs-2">
                             <small>
                                {%=moment(o.accesses[i].updated, "YYYY/MM/DD h:mm:ss").fromNow()%}
                             </small>
                        </div>
                    </div>
                {% } %}
            {% } else { %}
                    <div class="dashboard-feed__item">
                        {% if (o.message != undefined) { %}
                            <div class="alert alert-danger"> {%=o.message%} </div>
                        {% } %}
                    </div>
            {% } %}
        </script>

        <script type="text/x-tmpl" id="list-environment-tmpl">
            {% if(o.environments != undefined) { %}
                {% for (var i = 0; i < o.environments.length; i++) { %}
                    <tr>
                        <td>
                            {% if (o.environments[i].isUse == false) { %}
                                <span class="circle label label-success">
                                 Disponível
                                </span>
                            {% } else { %}
                                <span class="circle label label-warning">
                                  Em Uso
                                </span>
                            {% } %}
                        </td>
                        <td>
                           {%=o.environments[i].name%}
                        </td>
                    </tr>

                {% } %}
            {% } else { %}
                  <tr>
                    <td colspan="2">
                        {% if (o.message != undefined) { %}
                            <div class="alert alert-danger"> {%=o.message%} </div>
                        {% } %}
                    </td>
                  <tr>
            {% } %}
        </script>
    {% endverbatim %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemaacessobase/libs/tmpl/jquery.tmpl.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemaacessobase/scripts/dashboard.js') }}"></script>

{% endblock %}